*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#nav{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px;
    margin-top: 10px;
}

#nav h4{
    font-size: 20px;
    font-weight: 525;
}

#nav i{
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 8px;
    font-weight: 500;
    border-radius: 50%;
}

#center{
    width: 100%;
    padding: 0px 30px;
    
}

#center h1{
    /* 4.1-> 4.8
       4.3 -> 5.5
       70px - > 4.8
       80px -> 5.5
       10px -> 0.7vw
    */
    /* font-size: 70px; */
    font-size: 4.8vw;
    font-weight: 500;
    /* line-height: 80px; */
    line-height: 5.5vw;
}

#center-in{
    width: 100%;
    margin-top: 30px;
    height: 160px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    /* font-size: 19px; */
    font-size: 1.3029vw;
    font-weight: 400;
    /* line-height: 19px; */
    line-height: 1.3029vw;
    /* font-size: 1.17vw;
    line-height: 1.8vw; */
}

#right{
    width: 25%;
  
}

.elem {
    padding: 8px 0;
    border-top: 2px solid rgb(180, 180, 180);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem a {
    text-decoration: none;
    color: rgb(118, 116, 116);
    font-weight: 400;
    font-size: 28px;   
}

.elem i{
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
}

.elem:hover i{
    opacity: 1;
}


#bottom{
    height: 28%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1517496267011-39d56c54984d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: 0 25%;

}

@media (max-width:600px) {
    #nav{
        height: 60px;
        gap: 23px;
        padding: 0 20px;
    }
    #nav h4{
        font-size: 12px;
        font-weight: 600;
        /* display: none; */
    }
    #nav i{
        background-color: black;
        color: white;
        font-size: 11px;
        padding: 7px;
        font-weight: 500;
        border-radius: 50%;
    }
    #center{
        width: 100%;
        /* background-color: red; */
        padding: 15px 20px;
    }
    #center h1{
        /* font-size: 78px; */
        font-size: 10vw;
        font-weight: 500;
        line-height: 12vw;
    }
    #center-in{
        /* background-color: red; */
        width: 100%;
        margin-top: 24px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: space-between;
    }
    #center-in p{
        /* font-size: 22px; */
        font-size: 3vw;
        font-weight: 600;
        line-height: 4.2vw;
    }
    #right{
        width: 100%;
    }
    .elem{
        /* background-color:yellow; */
        /* margin: 5px; */
        padding: 10px 0;
        border-top: 1.5px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .elem i{
        font-size: 14px;
        font-weight: 500;
        opacity: 1;
        color: #303030;
    }
    .elem a{
        color: #303030;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
    }
    #bottom{
        height: 33.2%;
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1508418717103-8b56bcf03360?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: 0 25%;
    }
    
}